/*
 * SEE ALSO the index.scss for .leaflet-legend-control
 * where we customize the icons etc
 */

.leaflet-legend-control {
	border-radius: 4px;
	background-color: #fff;
}
.leaflet-legend-control.leaflet-legend-collapsed {
	cursor: pointer;
}
.leaflet-legend-control.leaflet-legend-collapsed .leaflet-legend-content-collapsed {
	display: block;
	width: 30px;
	height: 30px;
}
.leaflet-legend-control.leaflet-legend-collapsed .leaflet-legend-content-collapsed img {
	width:20px;
	margin-left: 5px;
	height: 20px;
	margin-top: 5px;
}
.leaflet-legend-control.leaflet-legend-collapsed .leaflet-legend-content-expanded {
	display: none;
}
.leaflet-legend-control.leaflet-legend-expanded {
}
.leaflet-legend-control.leaflet-legend-expanded .leaflet-legend-content-collapsed {
	display: none;
}
.leaflet-legend-control.leaflet-legend-expanded .leaflet-legend-content-expanded {
 padding: 4px 10px 10px 10px;
	display: block;
}
.leaflet-legend-control.leaflet-legend-expanded div.legend {
}
.leaflet-legend-control.leaflet-legend-expanded div.legend.legend-bottompad {
	margin-bottom: 10px;
}

.leaflet-legend-control div.swatch.swatch-circle {
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.leaflet-legend-control div.swatch.swatch-date-missing {
    background-color: orange;
}

.leaflet-legend-control div.swatch.swatch-date-malformed {
    background-color: red;
}
