div.mapboxgl-ctrl.mbgl-control-geolocate {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);

    .mbgl-control-geolocate-button {
        display: block; /* see hidden class which swaps these */
        width: 21px;
        height: 21px;

        i {
            font-size: 20px;
            color: black;
        }
    }
}
