body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#map {
    background: lightblue;
    height: 100%;
    width: 100%;
    position: absolute;
}

#info {
    position: fixed;
    float: left;
    top: 0px;
    left: 50px;
    width: 300px;
    padding: 10px;
    background-color: black;
    color: white;
    font: 16px 'Lucida Grande', sans-serif;
    z-index: 500

    p {
        margin: 12px;
    }
    p.title {
        color: #0cf;
    }
}

.crosshair {
    cursor: crosshair;
}
